* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.calculator {
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 24px;
    border: none;
    background-color: #eee;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 10px;
}

button {
    font-size: 18px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #ddd;
}

button:nth-child(1) { background-color: #f28b82; } /* C */
button:nth-child(2) { background-color: #fbbc04; } /* EXP */
button:nth-child(3) { background-color: #f28b82; } /* DEL */
button:nth-child(4) { background-color: #fbbc04; } /* ^ */
button:nth-child(17) { background-color:  #ccff90; } /* = */
button:nth-child(18) { background-color: #39ffd1; } /* + */
button:nth-child(19) { background-color: #fbbc04; } /* LOG */
button:nth-child(20) { background-color: #f28b82; } /* - */
button:nth-child(25) { background-color: #fbbc04; } /* √ */
button:nth-child(26) { background-color: #fbbc04; } /* π */
button:nth-child(27) { background-color: #fbbc04; } /* . */
button:nth-child(28) { background-color: #fbbc04; } /* % */
